.slider {
  width: 100% ;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.slider-container {
  height: 100% ;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}

.btn-prev,
.btn-next {
  font-size: 30px;
  background-color: #fff;
  position: absolute;
  z-index:10;
  transform: translateY(-50%);
  top: 38%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.btn-prev {
  left: -1%;
}

.btn-next {
  right: -1%;
}

.btn-prev,
.btn-next {
    top: 48%;
    opacity: 0;
}

.user-carousel-container:hover .btn-prev,.user-carousel-container:hover .btn-next{
    opacity: 1;
    transition: all 0.5s ease-in-out 0s;
}

.slider-content-wrapper{
  height: 100%;
}

.slider-items {
  height: 100%;
  width: 100%;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  /* min-height: 1px; */
  /* float: left; */
  /* -webkit-backface-visibility: hidden; */
  /* -webkit-tap-highlight-color: transparent; */
}
.slider-items img {
  width: 100%;
  height: 100%;
  display: block;
}
/* carousel for video item */
.panel-container{
  width: 100%;
  height: 100%;
}
.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.6;
  -webkit-box-shadow: 0 0 0 5px #000;
  box-shadow: 0 0 0 5px #000;
}

.btn-play svg{
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
