.page-header .logo {
  position: absolute;
  margin: 0 40px 0 16px;
  height: 34px;
  width: 34px;
}

.page-header > form {
  display: block;
}

.page-header > form > div {
  position: relative;
}
.page-header > form > div > section {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.page-header > form > div > section:first-child {
  position: absolute;
}

.page-header > form > div > section:last-child {
  float: right;
}

.page-header > form > .input-group, .page-header > form > .btn-group {
  border-radius: 16px;
}
.page-header .input-group {
  float: left;
}
.page-header .toggle-menu,
.page-container .toggle-search,
.page-header .close-search {
  display: none;
}
.page-header .close-search {
  transform: rotate(180deg);
  height: 100%;
}

.close-search {
  padding-left:6px;
  padding-right: 6px;
  background-color: transparent;
}
.close-search::before {
  font-size: 18px;
  font-weight: 100;
  content: "\279E";
}
.page-header .search-input {
  float: left;
  margin-top: 2px !important;
  margin-left: 11% !important;
  width: 50% !important;
}
@media screen and (min-width: 769px) {
  .dropdown-content-profile .classic-menu {
    display: none;
  }
  .top-menu .dropdown-content-profile .classic-menu {
    display: inline-flex;
  }
}
@media screen and (max-width: 768px) {
  .dropdown-content-profile .classic-menu,
  .dropdown-content-profile .menu {
    display: none;
  }
}
/*
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .page-header .search-control {margin-left: 104px;}
}
*/
@media screen and (max-width: 768px) and (min-width: 601px) {
  .page-header .search-input {
    max-width: 300px;
  }
  .page-header .search-control {
    max-width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .page-header .logo {
    margin-left: 0;
    margin-right: 0;
    left: calc(50% - 17px);
  }
  .page-header .toggle-menu, .page-container .toggle-search {
    display: inline-block;
    position: relative;
    width: 26px;
    border: none;
    background-color: transparent;
  }
  .page-header .toggle-menu {
    width: 28px;
    height: 30px;
    margin-left: 2px;
    padding-top: 0;
  }
  .page-header .search-input {display: none !important;}

  .search .page-header .logo,
  .search .page-header .btn-group.pull-left,
  .search .page-header .toggle-search,
  .search .page-header .toggle-menu,
  .search .page-header> form > div > section:last-child {display: none;}

  .search .page-header .close-search {
    display: inline-block;
    border: none;
    height: 33px;
    padding-top: 0;
  }
  .search .page-header .search-input {
    display: flex !important;
    margin-left: 32px !important;
    width: calc(100% - 36px) !important;
  }
  .search .view-header > .btn-back {display: none;}

  .page-header .dropdown-menu {
    top: auto !important;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.125rem;
  }
}
.quick-nav > button,
.quick-nav > a {
  background-color: transparent;
  color: inherit;
  border: 1px solid;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-top: -2px;
  margin-left: 4px;
  padding-top: 3px;
  padding-left: 2px;
}
.dark section.quick-nav > a {
  color: inherit;
}
.quick-nav > button > i,
.quick-nav > a > i {
  font-size: 31px;
}
.quick-nav > button.mail > i {
  font-size: 30px;
  margin-left: -2px;
  padding-top: 0;
}
.quick-nav > button.notifications > i {
  font-size: 29px;
  margin-left: -1px;
  margin-top: -1px;
}
.dropdown-content-profile {
  display: none;
  list-style-type: none;
  background-color: inherit;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  z-index: 30000;
  position: absolute;
  right: 0;
  margin-top: -1px;
  padding-top: 4px;
}

.dropdown-content-profile li {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  padding: 6px 8px;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  z-index: 30000;
}
.dropdown-menu-profile > img,
.dropdown-menu-profile > i {
  width: 36px;
  height: 36px;
  margin-top: -2px;
  margin-left: 4px;
  margin-right: 2px;
  border: 1px solid;
  border-radius: 50%;
}

.dropdown-menu-profile > i {
  font-size: 32px;
  padding-left: 1px;
}
.dropdown-menu-profile:hover ul {
  display: block;
}
/*
.dropdown-content-profile li:hover,
.dropdown-content-profile li:focus {
  color:white;
  text-decoration: none;
  background-color: #00574b;
}
*/
.dropdown-content-profile > li > span,
.dropdown-content-profile > li > a,
.dropdown-content-profile > li > button {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  white-space: nowrap;
  border: 0;
  margin-left: 6px;
  color: inherit;
  text-align: inherit;
  background-color: transparent;
  padding-top: 2px;
  padding-left: 0;
}

.dropdown-content-profile > li > span:hover {
  text-decoration: underline;
}
/*
.dropdown-item-profile.active,
.dropdown-item-profile:active {
  color: #fff;
  text-decoration: none;
}
*/

.dropdown-menu-profile .show {
  display: block;
}

@media screen and (max-width: 600px) {
  .page-header .dropdown-content-profile {
    top: auto !important;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.125rem;
  }
}
